Repository Azure/bicep, pull requests merged in 2023-08, with the labels that each got.

#11370 Evaluate Assertions And Display Test Results On CLI
  src/Bicep.Cli/Commands/TestCommand.cs
  src/Bicep.Cli/Services/CompilationService.cs
  src/Bicep.Cli/Services/TemplateEvaluator.cs
  src/Bicep.Cli/Services/TestEvaluation.cs
  src/Bicep.Cli/Services/TestRunner.cs
  src/Bicep.Core.Samples/DataSets.cs
  src/Bicep.Core.Samples/Files/InvalidTestFramework_CRLF/bicepconfig.json
  src/Bicep.Core.Samples/Files/InvalidTestFramework_CRLF/main.bicep
  src/Bicep.Core.Samples/Files/InvalidTestFramework_CRLF/main.diagnostics.bicep
  src/Bicep.Core.Samples/Files/InvalidTestFramework_CRLF/main.formatted.bicep
  src/Bicep.Core.Samples/Files/InvalidTestFramework_CRLF/main.ir.bicep
  src/Bicep.Core.Samples/Files/InvalidTestFramework_CRLF/main.json
  src/Bicep.Core.Samples/Files/InvalidTestFramework_CRLF/main.pprint.bicep
  src/Bicep.Core.Samples/Files/InvalidTestFramework_CRLF/main.sourcemap.bicep
  src/Bicep.Core.Samples/Files/InvalidTestFramework_CRLF/main.symbolicnames.json
  src/Bicep.Core.Samples/Files/InvalidTestFramework_CRLF/main.symbols.bicep
  src/Bicep.Core.Samples/Files/InvalidTestFramework_CRLF/main.syntax.bicep
  src/Bicep.Core.Samples/Files/InvalidTestFramework_CRLF/main.tokens.bicep
  src/Bicep.Core.Samples/Files/InvalidTestFramework_CRLF/samples/broken.bicep
  src/Bicep.Core.Samples/Files/InvalidTestFramework_CRLF/samples/sample1.bicep
  src/Bicep.Core.Samples/Files/TestFramework_CRLF/bicepconfig.json
  src/Bicep.Core.Samples/Files/TestFramework_CRLF/main.bicep
  src/Bicep.Core.Samples/Files/TestFramework_CRLF/main.diagnostics.bicep
  src/Bicep.Core.Samples/Files/TestFramework_CRLF/main.formatted.bicep
  src/Bicep.Core.Samples/Files/TestFramework_CRLF/main.ir.bicep
  src/Bicep.Core.Samples/Files/TestFramework_CRLF/main.json
  src/Bicep.Core.Samples/Files/TestFramework_CRLF/main.pprint.bicep
  src/Bicep.Core.Samples/Files/TestFramework_CRLF/main.sourcemap.bicep
  src/Bicep.Core.Samples/Files/TestFramework_CRLF/main.symbolicnames.json
  src/Bicep.Core.Samples/Files/TestFramework_CRLF/main.symbols.bicep
  src/Bicep.Core.Samples/Files/TestFramework_CRLF/main.syntax.bicep
  src/Bicep.Core.Samples/Files/TestFramework_CRLF/main.tokens.bicep
  src/Bicep.Core.Samples/Files/TestFramework_CRLF/samples/AccessResources.bicep
  src/Bicep.Core.Samples/Files/TestFramework_CRLF/samples/bicepconfig.json
  src/Bicep.Core.Samples/Files/TestFramework_CRLF/samples/development.bicep
  src/Bicep.Core.Samples/Files/TestFramework_CRLF/samples/main.bicep
  src/Bicep.Core.Samples/Files/TestFramework_CRLF/samples/runtime.bicep
  src/Bicep.Core.Samples/Files/TestFramework_CRLF/samples/sample1.bicep
  src/Bicep.Core.Samples/Files/TestFramework_CRLF/samples/test.bicep
  src/Bicep.Core.Samples/Files/TestFramework_CRLF/samples/test.json
  src/Bicep.Core/PrettyPrint/DocumentBuildVisitor.cs
  src/Bicep.LangServer.IntegrationTests/HoverTests.cs
  src/Bicep.LangServer/Handlers/BicepHoverHandler.cs
Labels: story: test-framework

#11477 Added Type Validation and Autocomplete Snippets
  src/Bicep.Core.IntegrationTests/Semantics/SemanticModelTests.cs
  src/Bicep.Core.IntegrationTests/TestFrameworkTests.cs
  src/Bicep.Core.Samples/Files/InvalidTestFramework_CRLF/main.bicep
  src/Bicep.Core.Samples/Files/InvalidTestFramework_CRLF/main.diagnostics.bicep
  src/Bicep.Core.Samples/Files/InvalidTestFramework_CRLF/main.formatted.bicep
  src/Bicep.Core.Samples/Files/InvalidTestFramework_CRLF/main.pprint.bicep
  src/Bicep.Core.Samples/Files/InvalidTestFramework_CRLF/main.symbols.bicep
  src/Bicep.Core.Samples/Files/InvalidTestFramework_CRLF/main.syntax.bicep
  src/Bicep.Core.Samples/Files/InvalidTestFramework_CRLF/main.tokens.bicep
  src/Bicep.Core.Samples/Files/TestFramework_CRLF/main.bicep
  src/Bicep.Core.Samples/Files/TestFramework_CRLF/main.diagnostics.bicep
  src/Bicep.Core.Samples/Files/TestFramework_CRLF/main.formatted.bicep
  src/Bicep.Core.Samples/Files/TestFramework_CRLF/main.ir.bicep
  src/Bicep.Core.Samples/Files/TestFramework_CRLF/main.pprint.bicep
  src/Bicep.Core.Samples/Files/TestFramework_CRLF/main.sourcemap.bicep
  src/Bicep.Core.Samples/Files/TestFramework_CRLF/main.symbols.bicep
  src/Bicep.Core.Samples/Files/TestFramework_CRLF/main.syntax.bicep
  src/Bicep.Core.Samples/Files/TestFramework_CRLF/main.tokens.bicep
  src/Bicep.Core/LanguageConstants.cs
  src/Bicep.Core/Semantics/FileSymbol.cs
  src/Bicep.Core/TypeSystem/CyclicCheckVisitor.cs
  src/Bicep.Core/TypeSystem/DeclaredTypeManager.cs
  src/Bicep.Core/TypeSystem/TestType.cs
  src/Bicep.Core/TypeSystem/TypeAssignmentVisitor.cs
  src/Bicep.Core/TypeSystem/TypeKind.cs
  src/Bicep.Core/TypeSystem/TypeValidator.cs
  src/Bicep.LangServer/Completions/BicepCompletionContext.cs
  src/Bicep.LangServer/Completions/BicepCompletionContextKind.cs
  src/Bicep.LangServer/Completions/BicepCompletionProvider.cs
  src/Bicep.LangServer/Snippets/ISnippetsProvider.cs
  src/Bicep.LangServer/Snippets/SnippetsProvider.cs
  src/Bicep.LangServer/Telemetry/BicepTelemetryEvent.cs
  src/Bicep.LangServer/Telemetry/TelemetryConstants.cs
Labels: story: test-framework

#11547 Allow configuration of (harcoded) registry FQD using Env Variables
  .vscode/launch.json
  src/Bicep.Core/Features/FeatureProvider.cs
  src/Bicep.Core/Registry/AzureContainerRegistryManager.cs
  src/Bicep.Core/Syntax/ProviderDeclarationSyntax.cs
Labels: story: dynamic type loading

#11591 Refactor code to use `System.Text.Json` for deserialization of `OciManifest`
  src/Bicep.Core.UnitTests/Registry/Oci/OciArtifactResult.cs
  src/Bicep.Core/Registry/AzureContainerRegistryManager.cs
  src/Bicep.Core/Registry/Oci/OciDescriptor.cs
  src/Bicep.Core/Registry/Oci/OciManifest.cs
Labels: story: dynamic type loading

#11476 Add `validate-params` command
  src/Bicep.Cli.IntegrationTests/ValidateParamsCommandTests.cs
  src/Bicep.Cli/Arguments/ValidateParamsArguments.cs
  src/Bicep.Cli/Commands/ValidateParamsCommand.cs
  src/Bicep.Cli/Constants/CliConstants.cs
  src/Bicep.Cli/Helpers/ServiceCollectionExtensions.cs
  src/Bicep.Cli/Program.cs
  src/Bicep.Cli/Services/ArgumentParser.cs
  src/Bicep.Core/Diagnostics/DiagnosticBuilder.cs
  src/Bicep.Core/Semantics/Namespaces/SystemNamespaceType.cs
Labels: story: bicep parameters
