Repository Azure/bicep, pull requests merged in 2023-07, with the labels that each got.

#10868 Support for dynamic loading of provider definitions
  .github/workflows/codecov.runsettings
  src/Bicep.Cli/Helpers/ServiceCollectionExtensions.cs
  src/Bicep.Core.IntegrationTests/Extensibility/AadNamespaceType.cs
  src/Bicep.Core.IntegrationTests/Extensibility/StorageNamespaceType.cs
  src/Bicep.Core.IntegrationTests/Extensibility/TestExtensibilityNamespaceProvider.cs
  src/Bicep.Core.IntegrationTests/ExtensibilityTests.cs
  src/Bicep.Core.IntegrationTests/ImportTests.cs
  src/Bicep.Core.IntegrationTests/OutputsTests.cs
  src/Bicep.Core.IntegrationTests/ParametersTests.cs
  src/Bicep.Core.IntegrationTests/Semantics/ParamsSemanticModelTests.cs
  src/Bicep.Core.UnitTests/ApiVersion/ApiVersionProviderTests.cs
  src/Bicep.Core.UnitTests/Assertions/RootConfigurationAssertions.cs
  src/Bicep.Core.UnitTests/BicepTestConstants.cs
  src/Bicep.Core.UnitTests/Configuration/ConfigurationManagerTests.cs
  src/Bicep.Core.UnitTests/Diagnostics/LinterRuleTests/LinterRuleTestsBase.cs
  src/Bicep.Core.UnitTests/Diagnostics/LinterRuleTests/UseRecentApiVersionRuleTests.cs
  src/Bicep.Core.UnitTests/Diagnostics/LinterRuleTests/UseRecentApiVersionRule_InReferenceFunctions_Tests.cs
  src/Bicep.Core.UnitTests/Features/FeatureProviderOverrides.cs
  src/Bicep.Core.UnitTests/Features/OverriddenFeatureProvider.cs
  src/Bicep.Core.UnitTests/IServiceCollectionExtensions.cs
  src/Bicep.Core.UnitTests/Mock/FakeResourceTypes.cs
  src/Bicep.Core.UnitTests/ServiceBuilder.cs
  src/Bicep.Core.UnitTests/TypeSystem/Az/AzResourceTypeProviderTests.cs
  src/Bicep.Core.UnitTests/TypeSystem/FunctionResolverTests.cs
  src/Bicep.Core.UnitTests/Utils/BuiltInTestTypes.cs
  src/Bicep.Core.UnitTests/Utils/ServiceBuilderExtensions.cs
  src/Bicep.Core.UnitTests/Utils/TestTypeHelper.cs
  src/Bicep.Core/Analyzers/Linter/ApiVersions/ApiVersionProvider.cs
  src/Bicep.Core/Analyzers/Linter/ApiVersions/ApiVersionProviderFactory.cs
  src/Bicep.Core/Analyzers/Linter/ApiVersions/IApiVersionProviderFactory.cs
  src/Bicep.Core/BicepCompiler.cs
  src/Bicep.Core/Configuration/ExperimentalFeaturesEnabled.cs
  src/Bicep.Core/Features/FeatureProvider.cs
  src/Bicep.Core/Features/IFeatureProvider.cs
  src/Bicep.Core/Registry/OciModuleRegistry.cs
  src/Bicep.Core/Rewriters/RewriterHelper.cs
  src/Bicep.Core/Semantics/Compilation.cs
  src/Bicep.Core/Semantics/DeclarationVisitor.cs
  src/Bicep.Core/Semantics/Namespaces/AzNamespaceType.cs
  src/Bicep.Core/Semantics/Namespaces/DefaultNamespaceProvider.cs
  src/Bicep.Core/Semantics/Namespaces/INamespaceProvider.cs
  src/Bicep.Core/Semantics/Namespaces/NamespaceResolver.cs
  src/Bicep.Core/Semantics/SemanticModel.cs
  src/Bicep.Core/TypeSystem/Az/AzResourceTypeLoader.cs
  src/Bicep.Core/TypeSystem/Az/AzResourceTypeLoaderFactory.cs
  src/Bicep.Core/TypeSystem/Az/AzResourceTypeProvider.cs
  src/Bicep.Core/TypeSystem/Az/IAzResourceTypeLoaderFactory.cs
  src/Bicep.Core/TypeSystem/Az/OciAzTypeLoader.cs
  src/Bicep.Core/TypeSystem/EmptyResourceTypeProvider.cs
  src/Bicep.Core/TypeSystem/IResourceTypeProvider.cs
  src/Bicep.Core/TypeSystem/K8s/K8sResourceTypeProvider.cs
  src/Bicep.LangServer.IntegrationTests/InsertResourceCommandTests.cs
  src/Bicep.LangServer.UnitTests/BicepCompilationManagerHelper.cs
  src/Bicep.LangServer.UnitTests/BicepCompilationManagerTests.cs
  src/Bicep.LangServer/BicepCompilationManager.cs
  src/Bicep.LangServer/Handlers/InsertResourceHandler.cs
  src/Bicep.LangServer/IServiceCollectionExtensions.cs
  src/Bicep.LangServer/Providers/BicepCompilationProvider.cs
  src/Bicep.Wasm/IServiceCollectionExtensions.cs
  src/vscode-bicep/schemas/bicepconfig.schema.json
Labels: story: dynamic type loading

#11318 Create Validation and template Evaluation Classes
  src/Bicep.Cli/Services/CompilationService.cs
  src/Bicep.Cli/Services/TemplateEvaluatorService.cs
  src/Bicep.Cli/Services/ValidationService.cs
  src/Bicep.Core/Emit/TemplateWriter.cs
  src/Bicep.Core/Syntax/TestDeclarationSyntax.cs
Labels: story: test-framework

#11236 adding getSecret helper to az namespace for bicepparam files
  src/Bicep.Core.IntegrationTests/Emit/ParamsFileWriterTests.cs
  src/Bicep.Core.IntegrationTests/EvaluationTests.cs
  src/Bicep.Core.Samples/Files/baselines_bicepparam/Invalid_Expressions/parameters.diagnostics.bicepparam
  src/Bicep.Core/Diagnostics/DiagnosticBuilder.cs
  src/Bicep.Core/Emit/FunctionPlacementValidatorVisitor.cs
  src/Bicep.Core/Emit/ParametersJsonWriter.cs
  src/Bicep.Core/Semantics/Namespaces/AzNamespaceType.cs
  src/Bicep.Core/Semantics/Namespaces/DefaultNamespaceProvider.cs
  src/Bicep.Core/Semantics/Namespaces/NamespaceResolver.cs
  src/Bicep.Core/TypeSystem/FunctionFlags.cs
Labels: story: bicep parameters
