Repository Azure/bicep, pull requests merged in 2024-03, with the labels that each got.

#13537 Feat: Implements design in Azure/bicep-reps/pull/5
  src/Bicep.Cli.IntegrationTests/BuildCommandTests.cs
  src/Bicep.Core.IntegrationTests/DynamicAzTypesTests.cs
  src/Bicep.Core.IntegrationTests/Extensibility/RadiusCompatibilityTests.cs
  src/Bicep.Core.UnitTests/Configuration/BicepConfigSchemaTests.cs
  src/Bicep.Core.UnitTests/Configuration/ConfigurationManagerTests.cs
  src/Bicep.Core.UnitTests/Configuration/ProviderConfigurationTests.cs
  src/Bicep.Core/Configuration/ProvidersConfiguration.cs
  src/Bicep.Core/Configuration/bicepconfig.json
  src/Bicep.Core/Diagnostics/DiagnosticBuilder.cs
  src/Bicep.Core/Modules/LocalModuleReference.cs
  src/Bicep.Core/Modules/ModuleReferenceSchemes.cs
  src/Bicep.Core/Modules/TemplateSpecModuleReference.cs
  src/Bicep.Core/Registry/LocalModuleRegistry.cs
  src/Bicep.Core/Registry/ModuleDispatcher.cs
  src/Bicep.Core/Registry/OciArtifactRegistry.cs
  src/Bicep.Core/Registry/TemplateSpecModuleRegistry.cs
  src/Bicep.Core/Workspaces/SourceFileGroupingBuilder.cs
  src/vscode-bicep/schemas/bicepconfig.schema.json
Labels: story: dynamic type loading

#13522 Refactor SourceFileGrouping to remove provider logic
  src/Bicep.Cli/Commands/RestoreCommand.cs
  src/Bicep.Core.IntegrationTests/RegistryProviderTests.cs
  src/Bicep.Core.UnitTests/BicepTestConstants.cs
  src/Bicep.Core.UnitTests/Registry/OciModuleRegistryTests.cs
  src/Bicep.Core/BicepCompiler.cs
  src/Bicep.Core/Configuration/ProvidersConfiguration.cs
  src/Bicep.Core/Registry/ArtifactHelper.cs
  src/Bicep.Core/Registry/ArtifactRegistry.cs
  src/Bicep.Core/Registry/IArtifactRegistry.cs
  src/Bicep.Core/Registry/LocalModuleRegistry.cs
  src/Bicep.Core/Registry/ModuleDispatcherExtensions.cs
  src/Bicep.Core/Registry/OciArtifactRegistry.cs
  src/Bicep.Core/Registry/TemplateSpecModuleRegistry.cs
  src/Bicep.Core/Rewriters/RewriterHelper.cs
  src/Bicep.Core/Semantics/Binder.cs
  src/Bicep.Core/Semantics/DeclarationVisitor.cs
  src/Bicep.Core/Semantics/Namespaces/NamespaceResolver.cs
  src/Bicep.Core/Semantics/SemanticModel.cs
  src/Bicep.Core/SourceCode/SourceArchive.cs
  src/Bicep.Core/SourceCode/SourceCodeDocumentLinkHelper.cs
  src/Bicep.Core/TypeSystem/Providers/ResourceTypesProviderDescriptor.cs
  src/Bicep.Core/Workspaces/IArtifactFileLookup.cs
  src/Bicep.Core/Workspaces/ProviderDescriptorBundle.cs
  src/Bicep.Core/Workspaces/SourceFileGrouping.cs
  src/Bicep.Core/Workspaces/SourceFileGroupingBuilder.cs
  src/Bicep.LangServer.IntegrationTests/Registry/ModuleRestoreSchedulerTests.cs
  src/Bicep.LangServer.UnitTests/BicepCompilationManagerHelper.cs
  src/Bicep.LangServer/BicepCompilationManager.cs
  src/Bicep.LangServer/Handlers/BicepForceModulesRestoreCommandHandler.cs
  src/Bicep.LangServer/Handlers/BicepHoverHandler.cs
  src/Bicep.LangServer/Providers/BicepCompilationProvider.cs
  src/Bicep.LangServer/Registry/IModuleRestoreScheduler.cs
  src/Bicep.LangServer/Registry/ModuleRestoreScheduler.cs
Labels: housekeeping

#13666 ThirdPartyResourceProvider: Implementation for ConfigurationType & FallbackType
  src/Bicep.Cli.E2eTests/src/examples/providers.ff/types/http/index.json
  src/Bicep.Cli.E2eTests/src/examples/providers.prod/types/http/index.json
  src/Bicep.Cli.IntegrationTests/Files/PublishProviderCommandTests/TestProvider/index.json
  src/Bicep.Cli.IntegrationTests/Files/PublishProviderCommandTests/TestProvider/v1/types.json
  src/Bicep.Cli.IntegrationTests/PublishProviderCommandTests.cs
  src/Bicep.Core.IntegrationTests/Files/RegistryProviderTests/HttpProvider/types/index.json
  src/Bicep.Core.IntegrationTests/RegistryProviderTests.cs
  src/Bicep.Core.UnitTests/Utils/ThirdPartyTypeHelper.cs
  src/Bicep.Core/Semantics/Namespaces/ThirdPartyNamespaceType.cs
  src/Bicep.Core/TypeSystem/Providers/ThirdParty/ExtensibilityResourceTypeFactory.cs
  src/Bicep.Core/TypeSystem/Providers/ThirdParty/ThirdPartyResourceTypeLoader.cs
  src/Bicep.Core/TypeSystem/Providers/ThirdParty/ThirdPartyResourceTypeProvider.cs
Labels: ThirdPartyResource
